.error {
  color: red;
}

.git {
  display: block;
  font-size: 16px;
}

#fileSelect {
  border: 1px solid gray;
  height:400px;
  float: left;
}

div#diffBox {
  border: 1px solid gray;
  height:400px;
  float: right;
  overflow-y: scroll;
}

.activeFile {
  background-color: gray;
}

.fileLine {
  background-color: gray;
}

.added {
  background-color: green;
  color: white;
}

.deleted {
  background-color: red;
  color: white;
}

#diffBox li {
  list-style-type: none;
  display: block;
}

.filePath {
  cursor: pointer;
}