.error {
  color: red;
}

.git {
  display: block;
  font-size: 16px;
}

#fileSelect {
  border: 1px solid gray;
  height:400px;
  float: left;
}

div#diffBox {
  border: 1px solid gray;
  height:400px;
  float: right;
  overflow-y: scroll;
}